/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #afc9f3;
}

h2 {
    color: #0dbfe7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #04776a;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #004d90;
    text-decoration: underline;
}
